/*font-family: 'Lobster', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Pacifico', cursive;*/ 

.cards-container{
    margin-top: 8%;
    
}

h1{
    font-family: 'Open Sans Condensed', sans-serif;
}

#insertCity{
    font-family: 'Lobster', cursive;
}

.btn{
    width:100%;
}

.card{
    margin:15px;
}